
/* line 58 : /Users/jpillora/Code/Go/src/github.com/jpillora/subfwd/static/src/styles/app.styl */

/* line 1 : /Users/jpillora/.grunt-sources/web/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 4 : /Users/jpillora/Code/Go/src/github.com/jpillora/subfwd/static/src/styles/app.styl */
html,
body {
  width: 100%;
  height: 100%;
  padding: 20px;
}

/* line 9 : /Users/jpillora/Code/Go/src/github.com/jpillora/subfwd/static/src/styles/app.styl */
html body.subfwd {
  min-width: 768px;
}

/* line 11 : /Users/jpillora/Code/Go/src/github.com/jpillora/subfwd/static/src/styles/app.styl */
html body.subfwd .slidable {
  overflow: hidden;
  height: 680px;
  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

/* line 17 : /Users/jpillora/Code/Go/src/github.com/jpillora/subfwd/static/src/styles/app.styl */
html body.subfwd .slidable.hidden {
  height: 0px;
}

/* line 20 : /Users/jpillora/Code/Go/src/github.com/jpillora/subfwd/static/src/styles/app.styl */
html body.subfwd .bold {
  font-weight: bold;
  color: #000;
}

/* line 24 : /Users/jpillora/Code/Go/src/github.com/jpillora/subfwd/static/src/styles/app.styl */
html body.subfwd .content {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 700px;
}

/* line 29 : /Users/jpillora/Code/Go/src/github.com/jpillora/subfwd/static/src/styles/app.styl */
html body.subfwd .content #screens {
  margin-top: 3.5rem !important;
  margin-bottom: 2.5rem !important;
}

/* line 33 : /Users/jpillora/Code/Go/src/github.com/jpillora/subfwd/static/src/styles/app.styl */

/* line 34 : /Users/jpillora/Code/Go/src/github.com/jpillora/subfwd/static/src/styles/app.styl */
html body.subfwd .manager .login {
  padding: 10px;
}

/* line 36 : /Users/jpillora/Code/Go/src/github.com/jpillora/subfwd/static/src/styles/app.styl */
html body.subfwd .manager .login .input.disabled input {
  background-color: rgba(128,128,128,0.28);
}

/* line 39 : /Users/jpillora/Code/Go/src/github.com/jpillora/subfwd/static/src/styles/app.styl */
html body.subfwd .manager .message {
  text-align: center;
}

/* line 41 : /Users/jpillora/Code/Go/src/github.com/jpillora/subfwd/static/src/styles/app.styl */
html body.subfwd .manager .message code {
  font-weight: bold;
}

/* line 44 : /Users/jpillora/Code/Go/src/github.com/jpillora/subfwd/static/src/styles/app.styl */

/* line 45 : /Users/jpillora/Code/Go/src/github.com/jpillora/subfwd/static/src/styles/app.styl */
html body.subfwd .manager table thead th.sub {
  width: 150px;
}

/* line 47 : /Users/jpillora/Code/Go/src/github.com/jpillora/subfwd/static/src/styles/app.styl */
html body.subfwd .manager table .nosub td {
  font-style: italic;
  text-align: center;
}

/* line 51 : /Users/jpillora/Code/Go/src/github.com/jpillora/subfwd/static/src/styles/app.styl */
html body.subfwd .footer {
  opacity: 0.85;
  text-align: right;
}

/* line 53 : /Users/jpillora/Code/Go/src/github.com/jpillora/subfwd/static/src/styles/app.styl */
html body.subfwd .footer:hover {
  opacity: 1;
}

/* line 56 : /Users/jpillora/Code/Go/src/github.com/jpillora/subfwd/static/src/styles/app.styl */
html body.subfwd .footer .foot {
  padding-left: 10px;
}
