.ui.basic.segment(ng-switch-when="how")
	p
		| 1. Once you've added (and propogated) a CNAME for your subdomain,
		| when this subdomain is visited - users will hit the subfwd app.
	p
		| 2. Once you've "Setup" your domain using this page, Heroku will route
		| the requests from your domain into the subfwd app.
	p
		| 3. Once these requests are recieved, the TXT record for this subdomain
		| is looked up and the user is forwarded onto it.

	p: a: .small.ui.label(ng-click="$root.screen = 'manager'") Back