.manager(ng-switch-when="manager" ng-controller="ManagerController")
	.ui.grid
		.guide.row: .sixteen.wide.column
			p <b>Subdomain Forwards</b> allow you to use DNS to create short URLs.
			//- p Text...
			//- p Text...
		.login.row
			.twelve.wide.column
				.fluid.ui.icon.input
					input(type='text', placeholder='Root domain', ng-model="domain", enter="setup()")
					i.icon(ng-class="{search: !setupOk, checkmark: setupOk}")
			.four.wide.column
				button.fluid.ui.primary.button(ng-class="{loading:loading, disabled: !domain || setupOk}",
					ng-disabled="loading || !domain || setupOk" ng-click="setup()") Setup
		.message.row(ng-if="setupOk || setupErr")
			.sixteen.wide.column(ng-if="setupOk")
				//- Succes message
				.ui.success.message
					| Your domain is ready. You may create TXT records for each subdomain you wish to forward.<br><br>
					| For example, to forward <code>foo.example.com</code> to <code>http://my.example.com/long/url</code>,<br>
					| create a <code>foo.example.com</code> TXT record containing<br>
					| <code>subfwd-url=http://my.example.com/long/url</code>
			.sixteen.wide.column(ng-if="setupErr" ng-switch="setupErr")
				//- Info messages
				.ui.info.message(ng-switch-when="NO_CNAME")
					| Please create a '<code>*.{{ domain }}</code>' (wildcard domain) CNAME record which points to 
					| '<code>handle.subfwd.com</code>'
				//- Error messages
				.ui.error.message(ng-switch-when="WRONG_CNAME")
					| Incorrect CNAME '<code>*.{{ domain }}</code>' should be set to '<code>handle.subfwd.com</code>'
				.ui.error.message(ng-switch-when="SET_DOMAIN_ERROR")
					| Unable to setup your domain - Please try again later
				.ui.error.message(ng-switch-default)
					| Unknown error "{{ setupErr }}"