.setup
	.ui.grid
		.guide.row: .sixteen.wide.column
			p <b>Subdomain Forwards</b> allows you to use DNS to create short URLs (like <a href="http://rolled.jpillora.com" target="_blank">rolled.jpillora.com</a>)
		.login.row(ng-if="onHeroku")
			.twelve.wide.column
				.fluid.ui.icon.input
					input(type='text', placeholder='Enter the root domain you wish to forward from', ng-model="domain", enter="setup()")
					i.icon(ng-class="{search: !setupOk, checkmark: setupOk}")
			.four.wide.column
				button.fluid.ui.primary.button(ng-class="{loading:loading, disabled: !domain || setupOk}",
					ng-disabled="loading || !domain || setupOk" ng-click="setup()") Setup
		.message.row(ng-cloak, ng-if="setupOk || setupErr")
			.sixteen.wide.column(ng-if="setupOk")
				//- Succes message
				.ui.success.message
					| Your domain is ready. To get started, log into your DNS manager and add TXT records for each subdomain you wish to forward.<br>
					| <br>
					| For example, in order to forward<br>
					| <a href="http://rolled.jpillora.com"><code>rolled.{{ domain }}</code></a> to
					| <a href="http://rolled.jpillora.com"><code>http://youtu.be/dQw4w9WgXcQ</code></a>,<br>
					| <br>
					| you simply create a TXT record <br>
					| <code>subfwd-rolled.{{ domain }}</code> with <code>http://youtu.be/dQw4w9WgXcQ</code><br>
			.sixteen.wide.column(ng-if="setupErr" ng-switch="setupErr")
				//- Info messages
				.ui.info.message(ng-switch-when="NO_CNAME")
					| Please create a '<code>*.{{ domain }}</code>' (wildcard domain) CNAME record <br>
					| which points to '<code>subfwd.jpillora.com</code>'
				//- Error messages
				.ui.error.message(ng-switch-when="WRONG_CNAME")
					| Incorrect CNAME value<br>
					| <code>*.{{ domain }}</code> should point to <code>subfwd.jpillora.com</code>
				.ui.error.message(ng-switch-when="URL_ERROR")
					| Invalid URL
				.ui.error.message(ng-switch-when="DOMAIN_ERROR")
					| Invalid <b>root</b> domain
				.ui.error.message(ng-switch-when="HEROKU_ERROR")
					| Unable to setup your domain. This will occur if this domain is already at Heroku.
				.ui.error.message(ng-switch-default)
					| Unknown error "{{ setupErr }}"
