darkGrey = #272822
lightGrey = #2F3129

html, body
  // background darkGrey
  // overflow hidden
  width 100%
  height 100%
  padding 20px

// *
//   box-sizing border-box

.subfwd
  min-width 768px
  .login
    padding 10px
    .input.disabled .pass
      background-color: rgba(128, 128, 128, 0.28)

  .manager
    margin 0 auto
    width 700px

  .message code.subfwdhash
    font-size small
    
  .nosub td
    font-style italic
    text-align center