doctype html
html
	head
		title SubFwd
		//- meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel="stylesheet", href="static/css/semantic.min.css")
		link(rel="stylesheet", href="static/css/app.css")
		style [ng-cloak] { display: none }
		script.
			//GA
			window.GoogleAnalyticsObject = 'ga';
			window.ga = window.ga || function () {
			(window.ga.q = window.ga.q || []).push(arguments)
			}, window.ga.l = 1 * new Date();

	body.subfwd(ng-app="subfwd")
		include app/content
		script(src="//www.google-analytics.com/analytics.js", defer)
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js")
		script(src="//cdn.rawgit.com/EricWVGG/AngularSlideables/master/angularSlideables.js")
		//- script(src="static/js/hmac-sha256.js")
		script(src="static/js/app.js")
