<!DOCTYPE html>
<html>
  <head>
    <title>subfwd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="css/semantic.min.css">
    <link rel="stylesheet" href="css/app.css">
    <style>[ng-cloak] { display: none }</style>
    <script>
      //GA
      window.GoogleAnalyticsObject = 'ga';
      window.ga = window.ga || function () {
      (window.ga.q = window.ga.q || []).push(arguments)
      }, window.ga.l = 1 * new Date();
      
    </script>
  </head>
  <body ng-app="subfwd" ng-class="{loaded: true}" class="subfwd">
    <div class="ui content segment">
      <div class="ui top attached label">
        <h2 class="ui header">Subdomain Forwards</h2>
      </div>
      <div id="screens" ng-controller="ManagerController">
        <div class="setup">
          <div class="ui grid">
            <div class="guide row">
              <div class="sixteen wide column">
                <p><b>Subdomain Forwards</b> allows you to use DNS to create short URLs (like <a href="http://rolled.jpillora.com" target="_blank">rolled.jpillora.com</a>)</p>
              </div>
            </div>
            <div ng-if="onHeroku" class="login row">
              <div class="twelve wide column">
                <div class="fluid ui icon input">
                  <input type="text" placeholder="Enter the root domain you wish to forward from" ng-model="domain" enter="setup()"><i ng-class="{search: !setupOk, checkmark: setupOk}" class="icon"></i>
                </div>
              </div>
              <div class="four wide column">
                <button ng-class="{loading:loading, disabled: !domain || setupOk}" ng-disabled="loading || !domain || setupOk" ng-click="setup()" class="fluid ui primary button">Setup</button>
              </div>
            </div>
            <div ng-cloak ng-if="setupOk || setupErr" class="message row">
              <div ng-if="setupOk" class="sixteen wide column">
                <div class="ui success message">
                  Your domain is ready. To get started, log into your DNS manager and add TXT records for each subdomain you wish to forward.<br>
                  <br>
                  For example, in order to forward<br>
                  <a href="http://rolled.jpillora.com"><code>rolled.{{ domain }}</code></a> to
                  <a href="http://rolled.jpillora.com"><code>http://youtu.be/dQw4w9WgXcQ</code></a>,<br>
                  <br>
                  you simply create a TXT record <br>
                  <code>subfwd-rolled.{{ domain }}</code> with <code>http://youtu.be/dQw4w9WgXcQ</code><br>
                </div>
              </div>
              <div ng-if="setupErr" ng-switch="setupErr" class="sixteen wide column">
                <div ng-switch-when="NO_CNAME" class="ui info message">
                  Please create a '<code>*.{{ domain }}</code>' (wildcard domain) CNAME record <br>
                  which points to '<code>subfwd.jpillora.com</code>'
                </div>
                <div ng-switch-when="WRONG_CNAME" class="ui error message">
                  Incorrect CNAME value<br>
                  <code>*.{{ domain }}</code> should point to <code>subfwd.jpillora.com</code>
                </div>
                <div ng-switch-when="URL_ERROR" class="ui error message">Invalid URL</div>
                <div ng-switch-when="DOMAIN_ERROR" class="ui error message">Invalid <b>root</b> domain</div>
                <div ng-switch-when="HEROKU_ERROR" class="ui error message">Unable to setup your domain. This will occur if this domain is already at Heroku.</div>
                <div ng-switch-default class="ui error message">Unknown error "{{ setupErr }}"</div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui basic segment">
          <p class="bold">How does it work?</p>
          <ol>
            <li ng-if="onHeroku">Setup your domain above.</li>
            <li>You create a DNS wildcard (<code>*</code>) CNAME entry pointed at <code>subfwd.jpillora.com</code>.</li>
            <li>All <b>non-matching</b> CNAME queries will be served by subfwd.</li>
            <li>
              When a request arrives, the DNS TXT entry <code>subfwd-&lt;domain&gt;</code>
              will be looked up and if it contains a URL, the user will be forwarded (302) there.
            </li>
          </ol>
          <p class="bold">Why do we need a prefix?</p>
          <p>
            Since wildcard entries are only returned when there is <b>no</b> match, we must
            prefix TXT entries with <code>subfwd-</code> to make sure it does not conflict with the desired
            subdomain.
            
          </p>
          <div ng-if="onHeroku" class="heroku-help">
            <p class="bold">Why is there a setup step?</p>
            <p>
              Subfwd runs on Heroku. Heroku uses an HTTP routing proxy. Large HTTP PaaS routers need to be
              able to map a domain name to an application. Therefore, the setup step is required to insert your domain into this
              application's "Custom Domains" list. If subfwd had it's own IP address (i.e. an EC2 instance),
              this step could be removed.
              
            </p>
          </div>
          <p class="bold">Extra features</p>
          <ul>
            <li>
              Forwarding the <code>default</code> subdomain also acts as a fallback.
              So all missing entries will use the <code>default</code> entry (TXT record
              <code>subfwd-default</code>).
            </li>
            <li>
              Within your target URLs, you can include the following variables
              which will be automatically substituted at forward time:
              <ul>
                <li><code>$IP</code> - requester's IP address</li>
                <li><code>$DATE</code> - unix epoch in milliseconds</li>
                <li><code>$HEADER[<i>NAME</i>]</code> - request header where NAME is the header name</li>
              </ul>Try out this example <a href="http://vars.jpillora.com" target="_blank">vars.jpillora.com</a>
              (inspect with <code>$ curl vars.jpillora.com</code>)<br>
              <b>Warning</b> No query parameter escaping is performed.
            </li>
            <li>
              Using the prefix <code>subproxy-</code> instead of <code>subfwd-</code> will proxy the
              destination URL instead of forwarding to it.
            </li>
          </ul>
          <p class="bold">Tips</p>
          <p>
            <a href="https://www.cloudflare.com/plans" target="_blank">CloudFlare</a> is highly recommended.
            Subfwd uses CloudFlare's free tier for free DNS managment.
            CloudFlare allows you to optionally activate individual domains to have them proxied through
            their infrastructure, which turns on SSL, asset minification, caching, DDOS protection and other benefits.
          </p>
        </div>
      </div>
      <div class="ui bottom attached label">
        <p class="footer"><span class="foot">Forwarded {{ forwards }} requests</span><span ng-if="uptime" class="foot">Up {{ uptime }}</span><a href="https://github.com/jpillora/subfwd" target="_blank" class="foot">Fork on Github</a><a href="https://github.com/jpillora" target="_blank" class="foot">@jpillora</a><span class="foot">&copy; 2016 </span></p>
      </div>
    </div>
    <script src="//www.google-analytics.com/analytics.js" defer></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script src="//cdn.rawgit.com/EricWVGG/AngularSlideables/master/angularSlideables.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>