.ui.content.segment
	.ui.top.attached.label
		h2.ui.header Subdomain Forwards
	#screens
		include screens/manager
		include screens/help
	.ui.bottom.attached.label
		p.footer
			a.foot(href="https://github.com/jpillora/subfwd" target="_blank") Fork on Github
			a.foot(href="https://github.com/jpillora" target="_blank") @jpillora
			span.foot &copy; 2016 
