.ui.manager.segment(ng-controller="ManagerController")

	.ui.top.attached.label
		h2.ui.header Subdomain Forwarding

	.ui.grid
		.login.row
			.six.wide.column
				.fluid.ui.icon.input(ng-class="{loading:statusLoading}")
					input.id(type='text', placeholder='Root domain', ng-model="id")
					i.search.icon
			.six.wide.column
				.fluid.ui.icon.input(ng-class="{disabled:!id}")
					input.pass(type='password', placeholder='Password', ng-model="pass", ng-disabled="!id")
					i.lock.icon
			.four.wide.column
				.fluid.ui.primary.button(ng-show="!status", ng-class="{disabled:!id||!pass}", ng-click="statusGet()") Login
				.fluid.ui.button(ng-show="status", ng-click="logout()") Logout
		.message.row(ng-if="statusErr")
			.sixteen.wide.column(ng-switch="statusErr")
				//- Info messages
				.ui.info.message(ng-switch-when="NO_CNAME")
					| Please create a <code>*.{{ id }}</code> (wildcard domain) CNAME record containing<br><code>handle.subfwd.com</code>
				.ui.info.message(ng-switch-when="NO_PASS")
					| Please create a <code>{{ id }}</code> (root domain) TXT record containing<br><code class="subfwdhash">subfwd-hash={{ hmac(pass) }}</code>
				//- Error messages
				.ui.error.message(ng-switch-when="WRONG_CNAME")
					| Incorrect CNAME - <code>*.{{ id }}</code> should be set to <code>handle.subfwd.com</code>
				.ui.error.message(ng-switch-when="WRONG_PASS")
					| Incorrect password
				.ui.error.message(ng-switch-when="NO_HEX")
					| Incorrect password format - Your TXT record should be in the form <code>subfwd-hash=[64-hexademical-characters]</code>
				.ui.error.message(ng-switch-when="REDIS_ERR")
					| Database error - Please try again later
				.ui.error.message(ng-switch-default)
					| Unknown error "{{ statusErr }}"

		.row(ng-if="status"): .sixteen.wide.column
			table.ui.unstackable.striped.table
				thead
					tr
						th Subdomain
						th URL
						th Total redirects
						th Last used
				tbody
					tr.nosub(ng-if="subdomains.length == 0")
						td(colspan="4") You have no forwards setup yet
					tr(ng-repeat="sd in subdomains")
						td.collapsing.disabled
							i.folder.icon
							| node_modules
						td Initial commit
						td Initial commit
						td.right.aligned.collapsing 10 hours ago

